<table class="data_table" border="1" cellspacing="0">
  <tr>
    <th>Seq #</th>
    <th>Input Column</th>
    <th>Database Table</th>
    <th>Database Field</th>
    <th> </th>
    <th> </th>
    <th> </th>
  </tr>
  <tr>
    <td><%= column_form.seq_no %></td>
    <td><%= column_form.input_column %></td>
    <td><%= column_form.app_table %></td>
    <td><%= column_form.app_column %>
        <% if column_form.data_type_id %>
          <br>type=<%= column_form.data_type_name if column_form.data_type_name %>
        <% end %>
        <% if column_form.data_year %>
          <br>year=<%= column_form.data_year %>
        <% end %>
    </td>
    <td><%= link_to_remote "update", :url => {:action => "map_update", :id => column_form} %></td>
    <td><%= link_to_remote "cancel", :url => {:action => "map_cancel", :id => column_form} %></td>
    <td><%= link_to_remote "remove", :url => {:action => "map_remove", :id => column_form} %></td>
  </tr>
</table>


