<% @tname = @table.name.pluralize.downcase %>
<h3><%= @tname %> columns</h3>
<%= image_tag 'loading.gif', :id=>'spinner', :style=>"display:none; float:right;" %>
  <div id="columns-container">
    <%= render :partial => "table_top" %>
    <% for column in @table.column_names %>
      <% if column == "updated_by" || column == "created_by" || column == "updated_at" || column == "created_at" %>
      <% elsif column == "id" || column == "person_id" %>
      <% elsif column == @table.name.downcase + "_type_id" %>
        <tr>
          <td>&nbsp; <%= @table.name %> Type&nbsp;</td><td>&nbsp; <%= @tname %> &nbsp;</td>
		  <td>&nbsp;
              <%= select_tag "data_type_name", options_for_select(@ttype_data),
                      :onchange => remote_function(
                        :before    => "Element.show('spinner')", 
                        :complete  => "Element.hide('spinner')", 
                        :url       => {:action=>'onchange_data_type_name', :only_path => false},
                        :with      => "'data_type_name=' + $('data_type_name').value + '&table_name=' + '#{@table.name}' + '&ttype_name=' + '#{@ttype.name}'")
                %>
		  &nbsp; </td>
		  <td>&nbsp; </td>
        </tr>
      <% elsif column == "name" %>
        <tr>
          <td>&nbsp; <%= session[:data_type_name] + " " + @table.name.humanize %> &nbsp;</td><td>&nbsp; <%= @tname %> &nbsp;</td><td>&nbsp; <%= column %> &nbsp;</td>
          <td><%= link_to_remote "map", :url => {:action => "map_field", :app_table => @tname, :app_column => column} %></td>
        </tr>
      <% else %>
        <tr>
          <td>&nbsp; <%= session[:data_type_name] + " " + column.humanize %> &nbsp;</td><td>&nbsp; <%= @tname %> &nbsp;</td><td>&nbsp; <%= column %> &nbsp;</td>
          <td><%= link_to_remote "map", :url => {:action => "map_field", :app_table => @tname, :app_column => column} %></td>
        </tr>
	  <% end %>
    <% end %>

    </table>
  </div>