<% if column_map.input_column %>
  <tr>
    <td><%= column_map.seq_no %></td>
    <td><%= column_map.input_column %></td>
    <td><%= column_map.app_table %></td>
    <td><%= column_map.app_column %>
        <% if column_map.data_type_id %>
          <br>type=<%= column_map.data_type_name if column_map.data_type_name %>
        <% end %>
        <% if column_map.data_year %>
          <br>year=<%= column_map.data_year %>
        <% end %>
    </td>
    <td><%= link_to_remote "map", :url => {:action => "map_input", :id => column_map} %></td>
  </tr>
<% end %>