<table width="100%">

  <tr id="map-template-info">
      <%= render :partial => "upload_templates/template_info" %>
  </tr>

  <tr><td colspan=3 valign=top><hr></td></tr>

  <tr>
    <td colspan=3 valign=top>
    <div id="map-row-info">
      <%= render :partial => "layouts/blank" %>
    </div>
    </td>
  </tr>

  <tr><td colspan=3 valign=top><hr></td></tr>

  <tr>
    <td  valign=top>
      <h3>Input File Columns</h3>
      <div id="display-map">
        <%= render :partial => "display_map" %>
      </div>
    </td>

    <td  valign=top>
      <div id="columns-info">
        <%= render :partial => "layouts/blank" %>
      </div>
    </td>

    <td width="200" valign=top>
        <%= render :partial => "database_tables/index" %>
    </td>

  </tr>
</table>
