<div id="map-template-info">
  <%= render :partial => "upload_templates/template_info" %>
</div>

<hr>

<br>
<div id="map-row-info" class="left-long-element">
    <%= render :partial => "layouts/blank" %>
</div

<br>
<div class="full-element">
<hr>
<br>
  <span id="display-map" class="left-element">
	  <%= render :partial => "display_map" %>
  </span>

  <span class="right-element">
    <%= render :partial => "database_tables/index" %>
  </span>

  <span id="columns-info" class="center-element">
      <%= render :partial => "layouts/blank" %>
  </span>  

</div>