<table width="100%">

  <tr id="map-template-info">
      <%= render :partial => "upload_templates/template_info" %>
  </tr>

  <tr><td colspan=3 valign=top><hr></td></tr>

  <tr>
    <td colspan=3 valign=top>
    <div id="map-row-info">
      <%= render :partial => "layouts/blank" %>
    </div>
    </td>
  </tr>

  <tr><td colspan=3 valign=top><hr></td></tr>

  <tr>
    <td  valign=top>
      <h3>Input File Columns</h3>
      <div id="display-map">
        <%= render :partial => "display_map" %>
      </div>
    </td>

    <td  valign=top>
      <div id="columns-info">
        <%= render :partial => "layouts/blank" %>
      </div>
    </td>

    <td width="200" valign=top>
      <center><h3>Database Tables</h3></center>
        <ul list-style-type="none">
           <% $TABLE_ARR.each do |table| %>
		     <% @t = table.name %>
             <li><%= link_to_remote @t, :url => {:action => :table_columns, :table_name => @t} %></li>
           <% end %>
        </ul>
    </td>

  </tr>
</table>
