<% if data_info.input_column %>
  <tr>
    <td><%= data_info.seq_no %></td>
    <td><%= data_info.input_column %></td>
    <td><%= data_info.app_table %></td>
    <td><%= data_info.app_column %>
        <% if data_info.data_type_id %>
          <br>type=<%= data_info.data_type_name if data_info.data_type_name %>
        <% end %>
        <% if data_info.data_year %>
          <br>year=<%= data_info.data_year %>
        <% end %>
    </td>
  </tr>
<% end %>