<h2>Edit Template</h2>

<% form_for @upload_template, :html=>{:multipart=>true} do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'upload_form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @upload_template %> |
<%= link_to 'Back', upload_templates_path %>
