<table width="100%">
  <tr>
    <td colspan=2 valign=top>
      Template: <b><%=h @upload_template.name if @upload_template.name %></b>
      | Input File: <b><%=h @upload_template.document.file.filename if @upload_template.document? %></b>
      | Status: <b><%=h (@upload_template.status == "2")? "Processed" : "Not Processed Yet" %></b>
      <% if @upload_template.status == "2" %>
       | Process Date: <b><%=h @upload_template.updated_at if @upload_template.updated_at %></b>
      <% end %>
    </td>
    <td colspan=1 valign=top align=center>
      <% if @upload_template.status != "2" %>
        <b><%= link_to_remote 'Process File', :url => {:action => "process_file", :id => @upload_template.id} %></b>&nbsp
      <% end %>
      &nbsp;&nbsp;<%= link_to 'Exit', :action => :index %>
    </td>
  </tr>
  <tr>

  <tr><td colspan=3 valign=top><hr></td></tr>

  <tr>
    <td colspan=3 valign=top>
    <div id="map-row-info">
      <%= render :partial => "blank" %>
    </div>
    </td>
  </tr>

  <tr><td colspan=3 valign=top><hr></td></tr>

  <tr>
    <td  valign=top>
      <h3>Input File Columns</h3>
      <div id="display-map">
        <%= render :partial => "display_map" %>
      </div>
    </td>

    <td  valign=top>
      <div id="columns-info">
        <%= render :partial => "blank" %>
      </div>
    </td>

    <!--td width="200" valign=top-->
    <td width="110" valign=top>
      <center><h3>Database Tables</h3></center>
        <ul list-style-type="none">
           <% $TABLE_ARR.each do |table| %>
		     <% @t = table.name %>
             <li><%= link_to_remote @t, :url => {:action => :table_columns, :table_name => @t} %></li>
           <% end %>
        </ul>
    </td>

</tr>
</table>
