<h2>Upload Template Information</h2>
<%= display_flashes %>
<table>
  <tr><th>Template:</th><td><%=h @upload_template.name if @upload_template.name %></td></tr>
  <tr><th>Status:</th><td><%=h (@upload_template.status == "2")? "Processed" : "Not Processed Yet" %></td></tr>
  <tr><th># of errors:</th><td><%=h @upload_template.no_errors %></td></tr>
  <tr><th>Notes:</th><td><%= @upload_template.notes %></td></tr>
  <% if @upload_template.status == "2" %>
    <tr><th>Process Date:</th><td><%=h @upload_template.updated_at if @upload_template.updated_at %></td></tr>
  <% end %>
  <tr><th>Input File:</th><td><%=h @upload_template.document.file.filename if @upload_template.document? %></td></tr>
</table>
<table border="1" cellspacing="0">
  <tr>
    <th>Seq #</th>
    <th>Input Column</th>
    <th>Database Table</th>
    <th>Database Field</th>
  </tr>
  <%= render :partial => "column_info", :collection => @data_columns %>
</table>

<br>
<%= link_to 'Edit', edit_upload_template_path(@upload_template) %> |
<%= link_to 'Back', upload_templates_path %> |
<%= link_to 'Map Data', :action => "map_data", :id => @upload_template %></td>
