<% if column_info.excel_column %>
  <tr>
    <td><%= column_info.seq_no %></td>
    <td><%= column_info.excel_column %></td>
    <td><%= column_info.app_table %></td>
    <td><%= column_info.app_column %>
        <% if column_info.data_type_id %>
          <br>type=<%= column_info.data_type_name if column_info.data_type_name %>
        <% end %>
        <% if column_info.data_year %>
          <br>year=<%= column_info.data_year %>
        <% end %>
    </td>
  </tr>
<% end %>