<h1>Edit Excel Template</h1>

<% form_for @excel_upload, :html=>{:multipart=>true} do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'upload_form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @excel_upload %> |
<%= link_to 'Back', excel_uploads_path %>
