<h1>Excel Upload Templates</h1>

<table>
  <tr>
  </tr>

<% @excel_uploads.each do |excel_upload| %>
  <tr>
    <td><b><%= excel_upload.excel_template %>&nbsp;&nbsp;|&nbsp;&nbsp;
        <%= (excel_upload.status == "P")? "Processed" : "Not Processed Yet" %>
        <% if excel_upload.no_errors && excel_upload.no_errors > 0  %>
          &nbsp;&nbsp;|&nbsp;&nbsp;# of errors = <%= excel_upload.no_errors %>
        <% end %>
        </b><br>
        <%= excel_upload.document.file.filename %><td>
    <td>&nbsp;&nbsp;<%= link_to 'Show', excel_upload %></td>
    <td>&nbsp;&nbsp;<%= link_to 'Edit', edit_excel_upload_path(excel_upload) %></td>
    <td>&nbsp;&nbsp;<%= link_to 'Delete Template', excel_upload, :confirm => 'Are you sure?', :method => :delete %></td>
    <td>&nbsp;&nbsp;<%= link_to 'Map Data', :action => "map_data", :id => excel_upload %></td>
    <td>&nbsp;&nbsp;<%= link_to 'View File', :action => "view_file", :id => excel_upload %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Excel Template', new_excel_upload_path %>
